<h1>New Clients</h1>
<p> Total Clients New Clients: <%= @report.number_of_new_clients %> </p>
<p> AUM From New Clients: <%= number_to_currency(@report.new_clients_aum) %> </p>
<p> Revenue From New Clients: <%= number_to_currency(@report.new_client_revenue) %> </p>

<h1>Exisiting Clients In Motion </h1>
<p> Total AUM from exisiting clients <%= number_to_currency(@report.exisiting_client_in_motion_aum) %> </p>
<p> Total Revenue from exisiting clients <%= number_to_currency(@report.exisiting_client_in_motion_revenue) %> </p>

<h1>Exisiting Clients New Money</h1>
<p> Total New AUM from exisiting clients <%= number_to_currency(@report.existing_clients_new_aum) %> </p>
<p> Total New Revenue from exisiting clients <%= number_to_currency(@report.existing_clients_new_revenue) %> </p>

<h1>Totals</h1>
<p> Total AUM <%= number_to_currency(@report.total_aum) %> </p>
<p> Total Sales Revenue <%= number_to_currency(@report.total_sales_revenue) %> </p>
<p> Total New AUM  <%= number_to_currency(@report.total_new_aum) %> </p>
<p> Total New Revenue <%= number_to_currency(@report.total_new_revenue) %> </p>
